.movies-header{
    height: 100%;
}
.container-movies{
    width: 100%;
    height: 70vh;
    overflow: hidden;

    .movies-genres{
        width: 100%;
    }
    .movies-background img{
        width: 100%;
        height: 100%;
        margin-top: -5%;
    }
    .list-movies{
        border: 2px solid white;
    }
}