.fixed-top{
}
.navbar{
    background-color: rgba(0, 0, 0, 0.945) !important;
    padding: 1% 4%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    width: 100%;

    &-container{
        padding: 5% auto;
    }

    &-brand span:nth-child(1){
        color: #F1792F;
        font-family: 'Ubuntu Mono', monospace;
        font-weight: bold;
        background-color: white;
        padding: 2%;
    }
    &-brand span:nth-child(2){
        color: white;
        font-family: 'Ubuntu Mono', monospace;
        font-weight: bold;
        background-color: #F1792F;
        padding: 2%;
    }
    &-items{
        padding: auto;
    }
    &-nav{
        
    }
}
a.current{
    color: #3ca2b8 !important;
}